# Binaries for programs and plugins
*.exe
*.exe~
bin/*.dll
obj/*.dll
*.so
*.dylib
.vs/
.idea/
packages/

AluminumFoil/bin/
AluminumFoil/obj/

AluminumFoil.Posix/bin/
AluminumFoil.Posix/obj/

AluminumFoil.Windows/bin/
AluminumFoil.Windows/obj/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

AluminumFoil/AluminumFoil\.csproj\.user
*.DotSettings.user

AluminumFoil\.Windows/publish/
