<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.2" targetFramework="net461" />
  <package id="DynamicData" version="6.8.0.2561" targetFramework="net461" />
  <package id="Fody" version="4.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="LibUsbDotNet" version="3.0.48-alpha" targetFramework="net461" />
  <package id="ReactiveUI" version="10.0.0-preview.3" targetFramework="net461" />
  <package id="ReactiveUI.WPF" version="10.0.0-preview.3" targetFramework="net461" />
  <package id="Splat" version="6.1.7" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview.19073.11" targetFramework="net461" />
  <package id="System.Reactive" version="4.2.0-preview.102" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview.19073.11" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>